/* Grundlegendes Layout und Design */
body {
    font-family: 'Roboto', sans-serif;
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.calculator {
    background-color: #333;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    width: 340px;
}

.display-container {
    text-align: right;
}

.display {
    width: 100%;
    height: 50px;
    font-size: 32px;
    padding: 10px;
    background-color: #111;
    color: #fff;
    border: 2px solid #444;
    border-radius: 8px;
    margin-bottom: 20px;
    box-sizing: border-box;
    word-wrap: break-word;
}

/* Buttons */
.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 15px;
}

button {
    background-color: #444;
    border: none;
    border-radius: 8px;
    color: #fff;
    font-size: 24px;
    padding: 20px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

button:hover {
    background-color: #555;
    transform: translateY(-5px);
}

button:active {
    background-color: #666;
    transform: translateY(0);
}

/* Operator Buttons */
.operator {
    background-color: #e06c75;
}

.operator:hover {
    background-color: #d65f5b;
}

button:focus {
    outline: none;
}

/* Clear & Delete Buttons */
button:nth-child(19), button:nth-child(20) {
    background-color: #61afef;
}

button:nth-child(19):hover, button:nth-child(20):hover {
    background-color: #4fa3d1;
}
